# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Database
# ==========================
chatbot.db
*.db
*.sqlite3

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/
.cache/